<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Personal Portfolio</title>
    <link href="~/Styles/jquery.jscrollpane.custom.css" rel="stylesheet" />
    <link href="~/Styles/style.min.css" rel="stylesheet" />
</head>
<body class="container">
    <div class="wrapper">
        @RenderBody()
        <nav class="wrapper-nav visible-lg">
            <ul class="wrapper-nav-list">
                <li class="wrapper-nav-item icon home">
                    <a href="" class="wrapper-nav-link">
                        <span class="h3 blue-line animate scaleInLeft delay-2">Introduction</span>
                        <span class="white-line animate scaleInLeft delay-4"></span>
                        <span class="white-line animate scaleInLeft delay-5"></span>
                    </a>
                </li>
                <li class="wrapper-nav-item icon case">
                    <a href="" class="wrapper-nav-link flex-row">
                        <div class="wrapper-section-half">
                            <span class="h3 blue-line animate scaleInLeft delay-3">Portfolio</span>
                            <span class="white-line animate scaleInLeft delay-4"></span>
                        </div>
                        <div class="wrapper-section-half">
                            <span class="white-circle animate slideInRight delay-5"></span>
                        </div>
                    </a>
                </li>
                <li class="wrapper-nav-item icon gear">
                    <a href="" class="wrapper-nav-link">
                        <span class="h3 blue-line animate scaleInLeft delay-2">Experiences</span>
                        <span class="white-line animate scaleInLeft delay-4"></span>
                        <span class="white-line animate scaleInLeft delay-5"></span>
                    </a>
                </li>
                <li class="wrapper-nav-item icon tool">
                    <a href="" class="wrapper-nav-link flex-row">
                        <div class="wrapper-section-half">
                            <span class="h3 blue-line animate scaleInLeft delay-3">Skills</span>
                            <span class="white-line animate scaleInLeft delay-4"></span>
                        </div>
                        <div class="wrapper-section-half">
                            <span class="white-circle animate slideInRight delay-5"></span>
                        </div>
                    </a>
                </li>
                <li class="wrapper-nav-item icon bubble">
                    <a href="" class="wrapper-nav-link">
                        <span class="h3 blue-line animate scaleInLeft delay-2">Hobbies</span>
                        <span class="white-line animate scaleInLeft delay-4"></span>
                        <span class="white-line animate scaleInLeft delay-5"></span>
                    </a>
                </li>
                <li class="wrapper-nav-item icon mail">
                    <a href="" class="wrapper-nav-link flex-row">
                        <div class="wrapper-section-half">
                            <span class="h3 blue-line animate scaleInLeft delay-3">Contact</span>
                            <span class="white-line animate scaleInLeft delay-4"></span>
                        </div>
                        <div class="wrapper-section-half">
                            <span class="white-circle animate slideInRight delay-5"></span>
                        </div>
                    </a>
                </li>
                <li class="wrapper-nav-item">
                </li>

                <!--
                <li class="wrapper-nav-item">
                    <a href="" class="wrapper-nav-link centered">
                        <div class="wrapper-section-half">
                            <span class="h3 blue-line animate scaleInLeft delay-3">Skills</span>
                            <span class="white-line animate scaleInLeft delay-4"></span>
                        </div>
                        <div class="wrapper-section-half">
                            <span class="white-circle animate slideInRight delay-5"></span>
                        </div>

                    </a>
                </li>
                <li class="wrapper-nav-item">
                    <a href="" class="wrapper-nav-link">
                        <span class="h3 blue-line animate scaleInLeft delay-2">Education</span>
                        <span class="white-line animate scaleInLeft delay-4"></span>
                        <span class="white-line animate scaleInLeft delay-5"></span>
                    </a>
                </li>
                <li class="wrapper-nav-item">
                    <a href="" class="wrapper-nav-link flex-row">
                        <div class="wrapper-section-half">
                            <span class="h3 blue-line animate scaleInLeft delay-3">Hobbies</span>
                            <span class="white-line animate scaleInLeft delay-4"></span>
                        </div>
                        <div class="wrapper-section-half">
                            <span class="white-circle animate slideInRight delay-5"></span>
                        </div>
                    </a>
                </li>
                <li class="wrapper-nav-item">
                    <a href="" class="wrapper-nav-link centered">
                        <span class="h3 blue-line animate scaleIn delay-3">Contact</span>
                        <span class="white-circle animate scaleIn delay-5"></span>
                    </a>
                </li>
                <li class="wrapper-nav-item">
                    <a href="" class="wrapper-nav-link">
                        <span class="h3 blue-line animate scaleInLeft delay-2">Portfolio</span>
                        <span class="white-line animate scaleInLeft delay-4"></span>
                        <span class="white-line animate scaleInLeft delay-5"></span>
                    </a>
                </li>
                -->
            </ul>
        </nav>

    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="~/Js/index.js"></script>
</body>
</html>
