<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Portfolio.TyLy.Co.Nz\packages.config" />
  <repository path="..\src\Portfolio2.TyLy.Co.Nz\packages.config" />
  <repository path="..\src\Portfolio3.TyLy.Co.Nz\packages.config" />
  <repository path="..\src\Portfolio4.TyLy.Co.Nz\packages.config" />
</repositories>