$padding-top-and-bottom: 10vh;
$padding-left-and-right: 10vw;
$secondary-color: #ffd800;
$ease: all .5s cubic-bezier(0.23, 1, 0.32, 1);
$background-color: rgba(0,0,0, 0.8);


.nav {
    width: 90px;

    & .nav-list {
        margin: 0;
        padding: $padding-top-and-bottom 0;
        list-style-type: none;
        display: flex;
        -ms-flex-flow: column wrap;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        height: 100vh;
        overflow: visible;

        & .nav-item {
            -ms-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            position: relative;
            overflow: visible;
            border-bottom: 7px solid $background-color;
            background: $secondary-color;
            -moz-transition: $ease;
            -o-transition: $ease;
            -webkit-transition: $ease;
            transition: $ease;

            &.active {
                background: rgba(#20232A, 1);
            }

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                -ms-flex: 2;
                -webkit-flex: 2;
                flex: 2;

                .nav-link {
                    -moz-transform: scaleX(1);
                    -ms-transform: scaleX(1);
                    -o-transform: scaleX(1);
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }

                .blue-line,
                .white-line,
                .white-circle {
                    -moz-transform: none;
                    -ms-transform: none;
                    -o-transform: none;
                    -webkit-transform: none;
                    transform: none;
                    opacity: 1;
                }
            }
        }

        & .nav-link {
            display: flex;
            -ms-flex-flow: column wrap;
            -webkit-flex-flow: column wrap;
            flex-flow: column wrap;
            justify-content: center;
            padding: 0 20%;
            position: absolute;
            width: 280%;
            height: 100%;
            left: calc(-280% + 90px);
            background: rgba(#20232A, 0.75);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -moz-transform-origin: right center;
            -ms-transform-origin: right center;
            -o-transform-origin: right center;
            -webkit-transform-origin: right center;
            transform-origin: right center;
            -moz-transition: $ease;
            -o-transition: $ease;
            -webkit-transition: $ease;
            transition: $ease;

            &.flex-row {
                -ms-flex-flow: row wrap;
                -webkit-flex-flow: row wrap;
                flex-flow: row wrap;
            }

            &.centered {
                align-items: center;
            }

            .section-half {
                justify-content: center;
                height: auto;

                &:nth-child(2) {
                    align-items: center;
                }
            }
        }
    }
}
