@{
    ViewBag.Title = "Home";
}


<div class="wrapper-col-left visible-lg">
    <div class="wrapper-col-left-content">
        <img src="~/images/John-Doe.jpg" />
        <h1>Hello, I am John Doe</h1>
        <p>Communication design is a mixed discipline between design and information-development which is concerned with how media intermission such as printed, crafted, electronic media or presentations communicate with people.</p>
    </div>
</div>

<div class="wrapper-content">
    <section class="wrapper-section wrapper-section-text">
        <h1 class="animate slideInLeft ">Communication Design</h1>
        <p class="animate slideInLeft delay-3">
            Communication design is a mixed discipline between design and information-development which is concerned with how media intermission such as printed, crafted, electronic media or presentations communicate with people.
            Communication design is a mixed discipline between design and information-development which is concerned with how media intermission such as printed, crafted, electronic media or presentations communicate with people.
            Communication design is a mixed discipline between design and information-development which is concerned with how media intermission such as printed, crafted, electronic media or presentations communicate with people.
            Communication design is a mixed discipline between design and information-development which is concerned with how media intermission such as printed, crafted, electronic media or presentations communicate with people.
            Communication design is a mixed discipline between design and information-development which is concerned with how media intermission such as printed, crafted, electronic media or presentations communicate with people.
        </p>
    </section>
    <section class="wrapper-section wrapper-section-text wrapper-section-text-img">
        <div class="wrapper-section-half">
            <h1 class="animate slideInLeft">Communication Design</h1>
            <p class="animate slideInLeft delay-2">Communication design is a mixed discipline between design and information-development which is concerned with how media intermission such as printed, crafted, electronic media or presentations communicate with people.</p>
        </div>
        <div class="wrapper-section-half">
            <img class="animate slideInRight delay-3" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt="" />
        </div>
    </section>
    <section class="wrapper-section wrapper-section-text centered">
        <h1 class="animate scaleIn">Communication Design</h1>
        <img class="animate scaleIn delay-3" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt="" />
    </section>
    <section class="wrapper-section wrapper-section-text">
        <h1 class="animate slideInLeft ">Communication Design</h1>
        <p class="animate slideInLeft delay-3">Communication design is a mixed discipline between design and information-development which is concerned with how media intermission such as printed, crafted, electronic media or presentations communicate with people.</p>
    </section>
    <section class="wrapper-section wrapper-section-text wrapper-section-text-img">
        <div class="wrapper-section-half">
            <h1 class="animate slideInLeft">Communication Design</h1>
            <p class="animate slideInLeft delay-2">Communication design is a mixed discipline between design and information-development which is concerned with how media intermission such as printed, crafted, electronic media or presentations communicate with people.</p>
        </div>
        <div class="wrapper-section-half">
            <img class="animate slideInRight delay-3" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt="" />
        </div>
    </section>
    <section class="wrapper-section wrapper-section-text centered">
        <h1 class="animate scaleIn">Communication Design</h1>
        <img class="animate scaleIn delay-3" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/ettrics-logo.svg" alt="" />
    </section>
    <section class="wrapper-section wrapper-section-text">
        <h1 class="animate slideInLeft ">Communication Design</h1>
        <p class="animate slideInLeft delay-3">Communication design is a mixed discipline between design and information-development which is concerned with how media intermission such as printed, crafted, electronic media or presentations communicate with people.</p>
    </section>
</div>


